[Desktop Entry]
Version=1.0
Name=sqriptor
Comment=The greatest and best TextEditor in the world (tribute)
GenericName=Text Editor
Type=Application
Exec=sqriptor %F
Icon=sqriptor
Terminal=false
StartupNotify=false
Categories=TextEditor;Development;Qt;
MimeType=text/plain;
